.header {
  margin: {
    bottom: 24px;
  }
  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: {
      right: 31px;
    };
  }
}