.header {
  margin: {
    bottom: 24px;
  };
}

.nav {
  &__bar {
    display: flex;
    flex-direction: row;
  }
  &__back {
    cursor: pointer;
    width: 16px;
    height: 25px;
    background: {
      image: url("@assets/back.svg");
      repeat: no-repeat;
    };
  }
  &__title {
    margin: {
      top: 0;
      bottom: 0;
      left: 18px;
    }
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }
}

.org {
  display: flex;
  margin: {
    bottom: 20px;
  };
  &__link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0080FF;
    margin: {
      left: 6px;
    };
  }
}

.topics {
  margin: {
    bottom: 20px;
  }
  &__item {
    display: inline-flex;
    padding: 4px 16px;
    margin: {
      right: 8px;
    };
    height: 22px;
    background: #DAEDFF;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    color: #0066CC;
  }
}

.stars {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #646769;
  margin: {
    bottom: 8px;
  };
  &__star {
    margin: {
      right: 8px;
    };
  }
  &__count {
    font-weight: 600;
  }
}

.watchers {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #646769;
  margin: {
    bottom: 8px;
  };
  &__icon {
    margin: {
      right: 8px;
    };
  }
  &__count {
    font-weight: 600;
  }
}